POSTGRES_DB=flowdeck
POSTGRES_USER=flowdeck
POSTGRES_PASSWORD=flowdeck
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/flowdeck
DB_USERNAME=flowdeck
DB_PASSWORD=flowdeck
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
